.page-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  background-color: rgb(19, 73, 143);
  color:antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  background-color: rgb(19, 73, 143);
  color:antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-info{
  display: block !important;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  background-color: rgb(232, 113, 49);
  color:antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashTitle{
  font-family:cursive;
  text-align: left;
  font-size: large;
  font-weight: 800; 

}

.form-container {
  width: 320px;
  margin: auto;
}
body {
  background-color: rgb(255, 255, 255);

  color:antiquewhite;
}
.feed {
  background-color: rgba(140, 169, 207,0.4);
  color:black;

}
.Menu {
  background-color: rgba(0, 2, 5, 0) !important;
}
.form-container {
  background-color: rgb(255, 255, 255);
}
.newPost{
  color:black;
  max-width: 60%;
  text-align: center;
}
