.page-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  background-color: rgb(19, 73, 143);
  color:antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  background-color: rgb(19, 73, 143);
  color:antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-container {
  width: 320px;
  margin: auto;
}
body {
  background-color: rgb(255, 255, 255);
  color:antiquewhite;
}
.feed {
  background-color: rgba(140, 169, 207,0.4);
}
.Menu {
  background-color: rgba(0, 2, 5, 0) !important;
}
.form-container {
  background-color: rgb(255, 255, 255);
}
